{% extends 'base.html' %}

{% block content %}

<h1>Market page</h1>

<div class="container mt-5">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.price}}</td>
            <td>
              <button class="btn btn-outline btn-info">More Info</button>
              <button class="btn btn-outline btn-success">Purchase this Item</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>


  {% endblock %}